name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN

      - name: Grant execute permission for maven wrapper
        run: chmod +x mvnw

      - name: Build project
        run: |
          ./mvnw -B -ntp verify

      - name: Publish Snapshots
        if: github.ref == 'refs/heads/master'
        run: |
          ver=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          if [[ $ver == *"SNAPSHOT"* ]]; then
              mvn -B -ntp deploy -pl '!samples'
          fi
        shell: bash
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.SONATYPE_PASSWORD }}
